<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball team</title>
 </head>
 <body>
    <h1>Basketball Team</h1>
    <h2>Team Name: <%= @name %><br></h2>
    <h3>Coach: <%= @coach %><br></h3>
    Point Guard: <%= @pg %><br>
    Shooting Guard: <%= @sg %><br>
    Small Forward: <%= @sf %><br>
    Power Forward: <%= @pf %><br>
    Center: <%= @c %><br>

 </body>
</html>


